<%= form_for(@dream) do |f| %>
	<div class="field">
		<%= f.label :date %><%= f.text_field :date %>
	</div>

	<div class="field">
		<%= f.label :feelings %><%= f.check_box :feelings %>
	</div>

	<div class="field">
		<%= f.label :description %><%= f.text_field :description%>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>